body {
   background-image: url("https://thumbs.dreamstime.com/t/blockchain-blurred-white-background-d-illustration-83377750.jpg");
   font-weight: 800;
   position: static;
   background-size: cover;
   max-width: 100%;
   text-align: center;
   color: black;
   background-repeat: no-repeat;
   background-position: center center;
}

.icon {
   display: inline-block;
   width: 80px;
   height: 60px;
   float: left;
}

li {
   list-style: none;
   float: right;
   font-weight: 600;
   padding-top: 20px;
}

nav {
   height: 60px;
   background-color: black;
   margin: auto 0;
   font-weight: 500;
}

nav li {
   width: 16%;
   padding-left: 2px;
   display: block;
}

li a {
   display: block;
   color: white;
   font-size: 15px;
   border: 3px #007faa groove;
   height: 100%;
   margin-right: 5px;
   padding: 8px;
}

li a:hover:not(.active) {
   background-color: #555;
   color: red;
}

.link {
   font-size: 20px;
   color: black;
}

h1 {
   margin-left: auto;
   margin-right: auto;
   font-weight: 900;
   font-size: 45px;
   text-shadow: 1px 2px #8b0000;
   font-family: Oswald Heavy;
}

.subheader2 {
   font-size: 25px;
   font-weight: 900;
   text-shadow: 2px 2px white;
}

.transbox {
   background-color: #ffffff;
   filter: alpha(opacity=80);
   outline-color: invert;
   border-radius: 5px;
   border-color: #8b0000;
   opacity: .9;
   padding: 10px;
   font-weight: 800;
   border: 7px ridge #007fAA;
   max-width: 500px;
   min-width: 500px;
   margin: 20px auto;
}

table {
   margin: 20px auto;
   padding: 10px;
   border-radius: 6px;
   font-weight: 800;
   background-color: #ffffff;
   border: 5px solid #007fAA;
   max-width: 500px;
   min-width: 500px;
}

th {
   padding: 15px;
}

td {
   padding: 8px;
}

form {
   font-weight: 800;
   font-size: 15px;
}

fieldset {
   border: none;
}

label {
   color: #8b0000;
   text-shadow: 1px 1px black;
   font-size: 20px;
   font-weight: 700;
   margin-right: 5px;
}

input {
   margin: 20px auto;
   text-align: center;
   border-radius: 5px;
   font-size: 15px;
}

input:focus {
   background-color: #007faa;
   color: white;
}

.buttons {
   border-radius: 5px;
}

.buttons:hover {
   background-color: #007faa;
   color: white;
}

.firstValue {
   font-size: 25px;
   padding: 15px;
   color: #8b0000;
   text-shadow: 1px 1px black;
}

.buy {
   font-size: 20px;
   color: #8b0000;
   margin-bottom: 100px;
}

.crypto {
   margin-bottom: 100px;
}

.footer {
   margin-bottom: 100px;
}

.difference {
   text-decoration: italic;
   font-size: 20px;
   text-shadow: 1px 1px #007faa;
}

.fset {
   border: none;
}

.values {
   padding-bottom: 10px;
}

.exchangeRates {
   font-size: 20px;
   color: #8b0000;
   text-shadow: 1px 1px black;
}

.thumb {
   display: inline-block;
   max-width: 200px;
   max-height: 200px;
   color: black;
}

.title {
   color: black;
}

#btnCalculateRates {
   display: inline;
}